@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;700&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh; /*100% da entrada de video.*/
    
}

body{
    font-size: 20px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-family: 'Sansita Swashed';
    font-weight: bold;
    font-variant: small-caps;
    /*mesmo lance com a entrada de video, vai ser 10% da view wideth*/
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

header a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

main{
    background-color: white;
    color: black;
    
}

section{
    font-size: 3.5vh;
    /* 10% DA ENTRADA DE VIDEO.*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    /*Espaçamento entre as linhas.*/
    line-height: 2em;
    
    
}

section > p{
    padding-bottom: 2em;
}

.normal > p{
    font-family: 'Sriracha';

}

section.imagem{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.548);
    /*estudar esse parametro também no projeto glfd*/
    background-size: cover;
    /*Fixou a img no fundo, para fazer o paralax*/
    background-attachment: fixed;
}

.imagem > p{
    /*caixa que se adapta ao tamanho doc conteudo
    */
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.438);
    font-family: 'Sriracha';
    text-shadow: 1px 1px 1px black;
}

#img01{
    /* esqueci de que o css estava em uma pasta diferente então tinha que voltar uma pasta para acessar a img.*/ 
    background-image: url('../imgs/background001.jpg');
    /*Esqueci isso da ultima aula, preciso alterar meu projeto pra treinar.*/
    background-position: right center;  
    color: white;
    
    
}

#img02{
    background-image: url('../imgs/background002.jpg');
    color: white;
}



footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
    
    
}

a{
    text-decoration: none;
}
.linkroda{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.linkroda:hover{
    text-decoration:underline;
}
